%h2= t('reset_unlock_instructions')
.main-content
  = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    .input
      = f.label :email
      = f.email_field :email
    .input
      = f.submit t('btn.reset_unlock'), class: 'btn btn-light-green'
      = render :partial => "devise/shared/links"
