#placeHolder{:style => "display:none; position:absolute;"}
  %textarea#inputBox{:style => "background-color:transparen"}
#wiki.curtain.boxed.hide
#clipart.curtain.boxed.hide
  %button.btn.btn-regular{:onclick => "toggleClipartLibrary()"}= t('btn.close')
  %ul.thumbnails
#backgounds.curtain.boxed.hide
  %button.btn.btn-regular{:onclick => "toggleBackgroundLibrary()"}= t('btn.close')
  %button.btn.btn-red{:onclick => "resetBackgroundImage()"}= t('btn.remove_background')
  %ul.thumbnails
#attachment-modal.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal", :href => "#"} &times;
    %h3#attachment_title
  .modal-body
    %p
  .modal-footer
    %a.btn.btn-warning.close{"data-dismiss" => "modal", :href => "#"}= t('btn.close')
#youtube-modal.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal", :href => "#"} &times;
    %h3= t('youtube.search')
  .modal-body
    %p
      %label{:for => "yt-query"}= t('youtube.terms')
      %input#yt-query.search{:name => "yt-query", :type => "text"}/
    %input#guid{:type => "hidden"}/
  .modal-footer
    %a.btn.btn-warning.close{"data-dismiss" => "modal", :href => "#"}= t('btn.confirm')
#colorpickerHolder{:style => "position: absolute;"}
- if @map.id
  #versioning-modal.modal.hide.fade
    .modal-header
      %a.close{"data-dismiss" => "modal", :href => "#"} &times;
      %h3= t('map.versioning')
    .modal-body
      %p
    .modal-footer
      %a.btn.btn-info.close{"data-dismiss" => "modal", :href => "#"}= t('btn.cancel')
  #invite-user-modal.modal.hide.fade
    .modal-header
      %a.close{"data-dismiss" => "modal", :href => "#"} &times;
      %h3= t('map.share_with_user')
    .modal-body
      %p
        = form_for @map, :remote => true do |f|
          = f.fields_for :users do |user_form|
            = user_form.autocomplete_field :user_email, autocomplete_user_email_contacts_path
          = f.submit t('btn.add.collaborator'), class: 'btn btn-light-green'
      %h4= t('user.collaborators')
      #list-of-users= render :partial => "user", :locals => { :map => @map }
    .modal-footer
      %a.btn.btn-warning.close{"data-dismiss" => "modal", :href => "#"}= t('btn.close')
