
<div id='placeHolder' style='display:none; position:absolute;'><textarea id='inputBox' style='background-color:transparen'></textarea></div>
<div id="wiki" class="curtain boxed hide"></div>
<div id="clipart" class="curtain boxed hide">
	<button class='btn' onClick='toggleClipartLibrary()'>Close</button>
	<ul class="thumbnails">
		   
	</ul>	
</div>

<div id="backgounds" class="curtain boxed hide">
	<button class='btn' onClick='toggleBackgroundLibrary()'>Close</button>
	<button class='btn' onClick='resetBackgroundImage()'>Remove background</button>
	<ul class="thumbnails"> 
	</ul>	
</div>

<div id="attachment-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3 id='attachment_title'></h3>
  </div>
  <div class="modal-body">
 	<p></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal">Close</a>
  </div>
</div>

<div id="youtube-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Search for YouTube video</h3>
  </div>
  <div class="modal-body">
 	<p><label for="yt-query">Terms </label><input class="search" type="text" name="yt-query" id="yt-query" /></p>
	<input type='hidden' id='guid' />
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal">Confirm</a>
  </div>
</div>

<div id="colorpickerHolder" style="position: absolute;"></div>

<% if @map.id %>
<div id="versioning-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Map versioning</h3>
  </div>
  <div class="modal-body">
 	<p></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal">Cancel</a>
  </div>
</div>

<div id="invite-user-modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Share map with user</h3>
  </div>
  <div class="modal-body">
 	<p>
		<%= form_for @map, :remote => true do |f| %>	
			<%= f.fields_for :users do |user_form| %>
		 		<%= user_form.autocomplete_field :user_email, autocomplete_user_email_contacts_path %>
			<% end %>
			<%= f.submit 'Add collaborator' %>
		<% end %>		
 	</p>
 	<h4>List of current collaborators</h4>
 	<div id='list-of-users'><%= render :partial => "user", :locals => { :map => @map } %></div> 	
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close" data-dismiss="modal">Close</a>
  </div>
</div>
<% end %>