- if @maps.empty?
  = t('map.dont_have')
  = link_to t('map.start_first'), new_map_path
- else
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th= t('map.table.title')
        %th= t('map.table.owner')
        %th= t('map.table.last_modified')
        %th= t('map.table.actions')
    - @maps.each do |map|
      = render "map", :map => map
    - @shared_maps.each do |map|
      = render "map", :map => map

  = link_to t('btn.new.map'), new_map_path, class: "btn btn-regular"
