
<%= form_for(current_user, :as => :user, :url => session_path(:user), :html => { :class => "well"}) do |f| %>
<%= f.email_field :email, :class=>'input-medium', :placeholder => "Email" %>
<%= f.password_field :password, :class=>'input-medium', :placeholder => "Password" %>
<div><%= f.submit "Login", :class => 'btn' %></div>
<% end %>

<ul class="nav nav-tabs" style = 'width:220px'>
	<li class='active'><a href="#home" data-toggle="tab">Login with</a></li>
	<li><a href="#account" data-toggle="tab">Create account</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="home">
		<div class='well'>		
			<div>
				<%= link_to image_tag('social/facebook.png'), user_omniauth_authorize_path(:facebook) %>
				<%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
			</div>
			<div>
				<%= link_to image_tag('social/google.png'), user_omniauth_authorize_path(:google_apps) %>
				<%= link_to 'Google', user_omniauth_authorize_path(:google_apps) %>
			</div>
			<div>
				<%= link_to image_tag('social/twitter.png'), user_omniauth_authorize_path(:facebook) %>
				<%= link_to 'Twitter', user_omniauth_authorize_path(:twitter) %>
			</div>
			<div>
				<%= link_to image_tag('social/github.png'), user_omniauth_authorize_path(:github) %>
				<%= link_to "GitHub", user_omniauth_authorize_path(:github) %>
			</div>
			<div>
				<%= link_to image_tag('social/yahoo.png'), user_omniauth_authorize_path(:yahoo, :openid_url => "http://yahoo.com") %>
				<%= link_to "Yahoo", user_omniauth_authorize_path(:yahoo, :openid_url => "http://yahoo.com") %>
			</div>
			<div>
				<%= link_to image_tag('social/windows.png'), user_omniauth_authorize_path(:windowslive, :openid_url => "http://oauth.live.com", :redirect_uri => 'http://openmindmap.me/users/auth/windowslive/callback') %>
				<%= link_to "WindowsLive", user_omniauth_authorize_path(:windowslive, :openid_url => "http://oauth.live.com", :redirect_uri => 'http://openmindmap.me/users/auth/windowslive/callback') %>				
			</div>			
		</div>
	</div>
	<div class="tab-pane" id="account">
		<%= form_for(current_user, :as => :user, :url => registration_path(:user), :html => { :class => "well"}) do |f| %>
		<%= f.email_field :email, :class=>'input-medium', :placeholder => "Email" %>
		<%= f.password_field :password, :class=>'input-medium', :placeholder => "Password" %>
		<%= f.password_field :password_confirmation, :class=>'input-medium', :placeholder => "Confirm password" %>
		<div><%= f.submit "Sign up", :class => 'btn primary' %></div>
		<% end %>  	
	</div>
</div>



        
