.span4
  %tr
    %td
      = link_to map.title, edit_map_path(map)
      - if map.users.size > 0
        %span.label.label-success
          = t('map.shared')
          (#{map.users.size})
      - if map.isPublic
        %span.label.label-info
          = t('map.public')
    %td
      - if map.user == current_user
        = t('user.me')
      - else
        = map.user.email
    %td
      = map.updated_at.to_formatted_s(:short)
      - if map.last_editor && map.last_editor != current_user
        %small= map.last_editor.email
      - else
        %small= t('user.me')
    %td
      = link_to t('btn.edit'), edit_map_path(map), class: 'btn btn-success'
      = link_to t('btn.delete'), map_path(map), confirm: t('account.sure'), method: :delete, class: 'btn btn-danger'
