%h1= t('select.freemind_title')
.hero-unit
  = form_tag(maps_import_path, :method => :post, :multipart => true) do
    = label_tag(:freemind_file, t('select.freemind'))
    = file_field_tag :freemind_file
    = submit_tag :Upload!
