= render 'ie_is_bad'
%h2 Choose your map style
%ul.thumbnails
  %li.span3
    .thumbnail
      = image_tag 'dialoguemap_small_template.png'
      .caption
        %h5 Dialogue map
        %p{:style => "height:100px"} Dialogue Mapping™ is a radically inclusive facilitation process that creates a diagram or 'map' that captures and connects participants' comments as a meeting conversation unfolds.
        %p= link_to 'New Dialogue Map', maps_path(:map => {:conf => 'dialoguemap'}), :method => :create, :class => 'btn btn-primary'
  %li.span3
    .thumbnail
      = image_tag 'mindmap_small_template.png'
      .caption
        %h5 Mind map
        %p{:style => "height:100px"} A mind map is a diagram used to represent words, ideas, tasks, or other items linked to and arranged around a central key word or idea.
        %p= link_to 'New Mind Map', maps_path(:map => {:conf => 'mindmap'}), :method => :create, :class => 'btn btn-primary'
