<%= render 'ie_is_bad' %>
<h2>Choose your map style</h2>
<ul class="thumbnails">
<li class="span3">
  <div class="thumbnail">
    <%= image_tag 'dialoguemap_small_template.png' %>
    <div class="caption">
		<h5>Dialogue map</h5>
      <p style='height:100px'>Dialogue Mapping™ is a radically inclusive facilitation process that creates a diagram or 'map' that captures and connects participants' comments as a meeting conversation unfolds. </p>
      <p><%= link_to 'New Dialogue Map', maps_path(:map => {:conf => 'dialoguemap'}), :method => :create, :class => 'btn btn-primary' %></p>
    </div>
  </div>
</li>
<li class="span3">
  <div class="thumbnail">
    <%= image_tag 'mindmap_small_template.png' %>
    <div class="caption">
      <h5>Mind map</h5>
      <p style='height:100px'>A mind map is a diagram used to represent words, ideas, tasks, or other items linked to and arranged around a central key word or idea.</p>
      <p><%= link_to 'New Mind Map', maps_path(:map => {:conf => 'mindmap'}), :method => :create, :class => 'btn btn-primary' %></p>
    </div>
  </div>
</li>
</ul>
