%h2 = t('map.choose_style')
%ul.thumbnails
  %li.span3
    .thumbnail
      = image_tag 'dialoguemap_small_template.png'
      .caption
        %h5= t('map.style.dialogue')
        %p{:style => "height:100px"}= t('map.type.dialogue_description')
        %p= link_to t('btn.new.dialogue'), maps_path(:map => {:conf => 'dialoguemap'}), :method => :create, :class => 'btn btn-regular'
  %li.span3
    .thumbnail
      = image_tag 'mindmap_small_template.png'
      .caption
        %h5= t('map.style.mind')
        %p{:style => "height:100px"}= t('map.type.mind_decription')
        =
        %p= link_to t('btn.new.mind_map'), maps_path(:map => {:conf => 'mindmap'}), :method => :create, :class => 'btn btn-regular'
