- unless user_signed_in?
  .row-fluid
    = render 'ie_is_bad'
    .span12
      .hero-unit
        .row-fluid
          .span8
            #myCarousel.carousel
              / Carousel items
              .carousel-inner
                .active.item
                  .offset-home
                    = image_tag 'logo.png'
                    %h1 Hi, maperino!
                    %p{:style => "width:500px"}
                      Welcome to OpenMindMap, a place where you can create your own Mind Map and Dialogue Map!
                      You don't know what is a mind map or a dialogue map? See below for some public maps or
                      \#{link_to "sign in", new_user_registration_path} to begin mapping!
                .item.hidden-tablet.hidden-phone
                  %iframe.offset-home{:allowfullscreen => "", :frameborder => "0", :height => "264", :src => "http://www.youtube.com/embed/W8Apl5-xhsA", :width => "470"}
                .item.hidden-tablet.hidden-phone
                  = image_tag 'map_example.png', :size => '470x264', :class => 'offset-home', :style => 'padding-top:60px'
              / Carousel nav
              %a.carousel-control.left.hidden-tablet.hidden-phone{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
              %a.carousel-control.right.hidden-tablet.hidden-phone{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
          .span4= render 'login_options'
  .row.hidden-tablet.hidden-phone
    .span4
      %h2 Hi, maperino!
      %p
        OpenMindMap is a new online collaborative tool for mind mapping and dialogue mapping!
        It's free for everyone register in this beta period! Please sing in, use it and feedback!
    .span4
      %h2 Mind map
      %p
        A mind map is a diagram used to represent words, ideas, tasks,
        or other items linked to and arranged around a central key word or idea.
        \#{link_to :Wikipedia, 'http://en.wikipedia.org/wiki/Mind_map', :target => 'blank'}.
    .span4
      %h2 Dialogue map
      %p
        Dialogue Mapping™ is a radically inclusive facilitation process that creates a diagram
        or 'map' that captures and connects participants' comments as a meeting conversation unfolds.
        \#{link_to 'Cognexus institute', 'http://cognexus.org/id41.htm', :target => 'blank'}
.page-header.hidden-tablet.hidden-phone{:style => "margin-top:30px"}
  %h1
    Explore
    %small See what users can do with OpenMindMap
.hidden-tablet.hidden-phone
  = render 'explore'
