- content_for :aside do
  = render partial: 'devise/shared/aside-info'

- content_for :title do
  Страница регистрации

%h2 Зарегистрироваться
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :email,as: :email, :class=>'xlarge'
  = f.input :password, :class=>'xlarge'
  .input
    = f.submit t('sign.up'), :class => 'btn btn-light-green'
    \&nbsp;#{render :partial => "devise/shared/links"}
