<div class='page-header'><h1>Sign up</h1></div>
<fieldset>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

	<div class='clearfix'>
		<%= f.label :email %>
		<div class='input'>
	  		<%= f.email_field :email, :class=>'xlarge' %>
		</div>
	</div>
	
	<div class='clearfix'>
		<%= f.label :password %>
		<div class='input'>
	  		<%= f.password_field :password, :class=>'xlarge' %>
		</div>
	</div>
	
	<div class='clearfix'>
		<%= f.label :password_confirmation %>
		<div class='input'>
	  		<%= f.password_field :password_confirmation, :class=>'xlarge' %>
		</div>
	</div>

  <div class='action'><%= f.submit "Sign up", :class => 'btn primary' %>&nbsp;<%= render :partial => "devise/shared/links" %></div>
<% end %>

</fieldset>


