%p#notice= notice
%p
  %b = t('label.title')
  = @news.title
%p
  %b = t('label.content')
  = @news.content
%p
  %b = t('label.user')
  = @news.user_id

= link_to t('btn.edit'), edit_news_path(@news)
|
\#{link_to 'Back', news_index_path}
