- content_for :aside do
  = render partial: 'devise/shared/aside-info'

- content_for :title do
  Страница входа

%h2
  Войти

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"}) do |f|
  = f.input :email, as: :email, :class=>'xlarge'
  = f.input :password, :class=>'xlarge'

  .input
    = f.submit t('btn.sign_in'), :class => 'btn btn-light-green'
    &nbsp; &nbsp;
    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean, label:'Запомнить меня', :class=>'xlarge'

    = render :partial => "devise/shared/links"