<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bug.title %>
</p>

<p>
  <b>Content:</b>
  <%= @bug.content %>
</p>

<p>
  <b>User:</b>
  <%= @bug.user_id %>
</p>

<p>
  <b>Status:</b>
  <%= @bug.status_id %>
</p>

<p>
  <b>Assigned to user:</b>
  <%= @bug.assigned_to_user_id %>
</p>


<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
