.landing
  %section.title
    = image_tag 'logo.png'
    %h1
      = t('landing.title')
    %h2
      = t('landing.sub_title')
  %section.info
    %ul.list.inline
      %li
        %i.land-problem
        %h2= t('landing.block.hi_title')
        %p
          = t('landing.block.hi_description')
      %li
        %i.land-solution
        %h2= t('landing.block.mind_title')
        %p
          = t('landing.block.mind_description')
          = link_to 'Wikipedia', 'http://en.wikipedia.org/wiki/Mind_map', :target => 'blank'
      %li
        %i.land-popular
        %h2= t('landing.block.dialogue_title')
        %p
          = t('landing.block.dialogue_description')
          = link_to 'Cognexus institute', 'http://cognexus.org/id41.htm', :target => 'blank'