= javascript_include_tag "application", 'maps', 'http://js.pusherapp.com/1.9/pusher.min.js'

- content_for :header do
  = render 'layouts/editor_header'

- content_for :main do
  - if notice
    %script{:lang => 'javascript'} $(".alert-message").alert()
    #notice.alert
      %a.close{'data-dismiss' => 'alert', href: '#'} &times;
      = notice

  %section.map{class: params['controller']}
    - if content_for? :aside
      %section.main-content
        = yield
      %aside.aside-content
        = yield(:aside)
    - else
      .full-main-content
        = yield

- content_for :footer do
  = render 'layouts/footer'

= render 'layouts/base'
